body 
{
	background-color: lightblue;
	font-family: times roman;
}

input
{
	text-align: center;
	color: black;
}


button
{
	background-color: lightblue;
	color: darkslateblue;
}

input
{
	width: 50%;
}
